VITE_APP_CLIENT_ID="your-google-client-id"
VITE_APP_CLIENT_URL='http://localhost:8081'
VITE_APP_API_URL='https://accounts.google.com/gsi/client'
VITE_APP_BASE_URL='https://project2.eaglesoftwareteam.com/tracker-t2/'
